
{% extends "govuk_template.html" %}
{% block content %}

  <div id="company-details">
    <ul class="tabs">
      <li><a href="/company/{{company.company_number}}" class="active">Company</a></li>
      <li><a href="/company/{{company.company_number}}/licences">Licences</a></li>

    </ul>
    <div id="company-tab" class="tabs-panel">
      <h1 class="heading-small">{{company.company_name}}</h1>
      <p><a rel="external" href="https://beta.companieshouse.gov.uk/company/{{company.company_number}}">Company number: {{company.company_number}}</a></p>
      <h2 class="heading-small">Address</h2>
      <div class="address" itemscope="" itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">{{address.address_line_1}}</span><br>
        <span itemprop="addressLocality">{{address.locality}}</span><br>
        <span itemprop="postalCode">{{address.postal_code}}</span><br>
        <span itemprop="addressCountry">GB</span>
      </div>
      <h2 class="heading-small">Accounts</h2>
      <p>Last accounts made up to: {{company.annual_return.last_made_up_to}}</p>
      <p>Next accounts made up to: {{company.annual_return.next_made_up_to}}</p>
      <p>Next accounts due: {{company.annual_return.next_due}}</p>
    </div>

{% endblock %}
