
{% extends "govuk_template.html" %}
{% block content %}
    <div class="grid-row">
      <div class="column-two-thirds">
        {% if organisations %}
        <div id="results">
          <ul>
            {% for organisation in organisations %}
              <li><a href="/company/{{organisation.entry.company}}">{{organisation.entry.name}}. Company number: {{organisation.entry.company}}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% else %}
          <p>No results</p>
        {% endif %}
      </div>
    </div>
{% endblock %}

